<div class="login-panel hologram">
    <h2 class="panel-title">BELÉPÉS</h2>

    <form action="/main" method="get">
        <div class="form-floating mb-3">
            <input type="text" class="form-control cyber-input text-center" id="name" name="name">
            <label for="name">NÉV</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control cyber-input text-center" id="character" name="character" maxlength="1">
            <label for="character">SZIMBÓLUM</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control cyber-input text-center" id="room" name="room">
            <label for="room">SZOBAKÓD (opcionális)</label>
        </div>

        <button class="btn cyber-btn w-100">BELÉPÉS</button>
    </form>
</div>
