<div>
    <h2>Belépés</h2>

    <form action="/main" method="get">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" name="name" placeholder="Név">
            <label for="name">Add meg a neved!</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="character" name="character" placeholder="Karakter (pl. +, x, o, stb.)">
            <label for="character">Add meg a karaktered!</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="room" name="room" placeholder="Szoba név">
            <label for="room">Add meg a szoba nevét!</label>
        </div>

        <button class="btn btn-outline-light mb-3">login</button>
    </form>
</div>