<%- include('header') %>

<div class="row">
    <div class="col-8 text-center">
        <h3>Tic-tac-toe</h3>

        <div class="game-board">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </div>
    </div>
    <div class="col-4 text-center">
        <div>

            <h3>Játékosok</h3>
            <div id="players-list">
                <!-- Játékosok listája ide kerül -->

                <ul class="player-list">
                    <li>Player 1 - <span class="player-character"></span></li>
                    <li>Player 2 - <span class="player-character"></span></li>
                </ul>
                </div>

            <button class="btn btn-outline-light mb-3">Kijelentkezés</button>
        </div>
    </div>
</div>

<%- include('footer') %>