<div id="game-modal" class="cyber-modal hidden">
    <div class="cyber-modal-backdrop"></div>

    <div class="cyber-modal-content hologram">
        <h2 class="section-title" id="modal-title">JÁTÉK VÉGE</h2>
        <p id="modal-winner-text" class="modal-text"></p>

        <button id="close-modal-btn" class="btn cyber-btn mt-3">
            OK
        </button>
    </div>
</div>